
html{
    font-size: 20px;
  
    background: black;
}
body{
    font-size: 10em;
    margin: 0;
    padding: 0;
}
.react-logo{
    
    top: 60%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}