
html{
    font-size: 20px;
    background: black;
}
body{
    font-size: 10em;
    margin: 0;
    padding: 0;
}
.react-logo{
    
background: radial-gradient(circle,    #61dafb 59%, transparent 50%);    
 background-size: 0.5em 100%;
    border-radius: 50%;   
    width: 2em;
    height: 0.5em;    
    top:50%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    border: 0.1em solid #61dafb;
    no-repeat:center;
    background-size: 0.5em 100%;
    border-radius: 50%;
    transform: translateY(-50%);
}

.react-logo::before, .react-logo::after{
    content: "";
    position: absolute;
    top: -0.1em;
    width: 2em;
    height: 0.5em;
    border-radius: 50%;
    border: 0.1em solid #61dafb;
 
}

.react-logo::before{
    left: -0.1em;
    transform: rotate(60deg);
}
.react-logo::after{
    right: -0.1em;
    transform: rotate(-60deg);
}
  
  
  
  
  
  
  
  
  